@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
	<style type="text/css">
		.top-bar
		{
			background-color: #3D3D3D;
			padding: 8px 0;
		}
	</style>
</head>
<body>
	<div class="top-bar">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 hidden-xs">
					<ul class="list-inline top-links-nav">
						<li><span style="color:White;">02785478585</span> </li>
					</ul>
				</div>
				<div class="cos-sm-4 text-right">
				<ul class="list-inline top-links-nav">
						<li><span style="color:White;">Sign in</span> </li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
